<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientSecret</key>
	<string>869d0554e1864fa4a61639359ba08726</string>
	<key>clientID</key>
	<string>a4055a50f1604314874d78f3b7da87fc</string>
</dict>
</plist>
